.header-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding:10px 30px;
   background-color: rgba(169, 169, 169, 0.109);
   box-shadow: 20px;
   
}
.header-container div a{
   text-decoration: none;
   margin-left: 15px;
   color: dimgrey;
}
.header-container div a:hover{
   color: orange;
}